.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
    }

.c-white {
    background-color: white;
    border: none;
}  

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
}
.external-url {
    cursor: pointer;
}
.verified {
    position: absolute;
    left: 330px;
    top: 168px;
    color: rgb(54, 116, 250);
}
body {
  background: #eee;
  
}

.ratings i {
  color: green;
}

.install span {
  font-size: 12px;
}

.col-md-4 {
  margin-top: 27px;
}

.max-height {
    max-height: 260px;
}

.post-heart-icon {
    position: absolute;
    color: white;
    top: 50%;
    left: 80px;
}

.post-comment-icon {
    position: absolute;
    color: white;
    top: 50%;
    left: 190px;
}

.post-position {
    position: relative;
}

.like-number {
    padding-left: 10px;
}

.like-icon {
    margin-top: 7px;
}
.media-type {
    position: absolute;
    right: 10px;
    top: 3px;
    color: white;
}

.on-hover {
    display: none !important;
}

.on-hover-display {
    display: block !important;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .post-comment-icon {
        left: 250px;
    }
}
